extends layout

block content
  h1= title
  p Welcome to #{title}

  audio(src="/Someone.mp3", type= "audio/mpeg", preload="auto", id= "song")
  div
    input(type = "Submit", value = "play", id ="play")
    input(type = "Submit", value = "pause", id ="pause")



  script
    $('#play').click(function () {
      $('#song')[0].play();
    return false;
    });
    $('#pause').click(function () {
      $('#song')[0].pause();
    return false;
    });